h3 {
	color: pink;
	background-color: black;
	border-radius: 20px
	
}

p {
	color: black;

}

ul {
	list-style: none;
	margin-left:0;
	padding-left:0;
	padding-bottom: 10px;
	padding-top: 10px;
	color: black;
	background-color: pink;
	border-radius: 20px;
	
}

header {
	text-align: center;
}

